*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #19262b;
  overflow-x: hidden;
}

.app {
  overflow-x: hidden;
  display: flex;
  width: 100vw;
}

#menu-hamburguer {
  margin: 20px;
  left: 0px;
  transition: 0.6s;
  height: 40px;
  cursor: pointer;
}

aside {
  transition: 0.5s;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  background: #192227;
  position: fixed;
  height: 100vh;
  width: 200px;
  color: #ffff;
}

aside #close-button-aside {
  position: absolute;
  background: none;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 150px;
}

.aside-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.aside-links img {
  height: 20px;
}

.aside-links ul {
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
}

.aside-links li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 40px;
  width: 110px;
}

.link {
  min-height: 30px;
  background: none;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-links .link:hover {
  border-right: 4px solid #246cbe;
  cursor: pointer;
  color: #246cbe;
}

.main {
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.tag-container {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
}

.tag-container p{
  transition: 0.5s;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tag-container p:hover {
  background: #1f2a30;
}

nav {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
}

nav label {
  background: none;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav label input {
  border: none;
  color: #ffff;
  background: #1f2a30;
  width: 70vw;
  border-radius: 6px;
  padding-left: 50px;
  height: 50px;
}

nav label input:focus {
  outline: solid 1px #345769;
}

@keyframes card-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

@keyframes card-animation-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.movies-container {
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-wrap: wrap;
  gap: 60px;
  transition: 0.3s;
  animation-name: card-animation;
  animation-duration: 1s;
}

.card {
  background: none;
  cursor: pointer;
}

.card img {
  max-width: 250px;
  max-height: 350px;
}

.img-container img:hover {
  opacity: 0.4;
}

.card-body h6 {
  min-height: 20px;
  color: #ffff;
  font-weight: 500;
}

.card-body {
  gap: 10px;
  max-width: 240px;
  height: 90px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  display: flex;
  min-width: 233px;
  background: none;
}

/* Aside */

#aside-movie {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  transform: translateX(100%);
  height: 100vh;
  background: #192227;
  transition: 0.3s;
  width: 500px;
}

.aside-info {
  width: 500px;
  height: 100vh;
}

.aside-info .card-body {
  width: 500px;
  max-width: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex;
  flex-direction: column;
  text-align: center;
}

.aside-info img {
  width: 500px;
  background: none;
}

.aside-info .card-title {
  color: #192227;
  display: flex;
  justify-content: space-around;
  max-width: 450px;
  gap: 10px;
  min-height: 50px;
}

.aside-info .movie-info {
  gap: 30px;
  display: flex;
  max-width: 450px;
  min-height: 50px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background: none;
}

.aside-info .sub-info {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 450px;
  align-items: center;
}

.aside-info .card-body p {
  max-width: 450px;
}

#aside-movie #close-button {
  margin: 5px;
  height: 40px;
  width: 40px;
  position: absolute;
  cursor: pointer;
}

#aside-movie .buttons-container {
  display: flex;
  position: absolute;
  bottom: 0px;
}

#aside-movie .btn-group {
  border-radius: 0px;
  width: 500px;
}

.btn-group button {
  height: 70px;
  border: none;
  background: #1f2a30;
  border-radius: 0px;
}

.page-container {
  display: flex;
  transition: 1.3s;
  margin: 40px 0 40px 0px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.page-container .btn-group {
  gap: 5px;
}

.page-container .btn-group a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60px;
  border: none;
  background: #345769;
  border-radius: 16;
}

@media screen and (max-width: 600px) {
  .movies-container {
    gap: 40px;
  }
  
  .card img {
    max-width: 200px;
    max-height: 350px;
  }
  
  .img-container img:hover {
    opacity: 0.4;
  }
  
  .card-body h6 {
    min-height: 20px;
    color: #ffff;
    font-weight: 500;
  }
  
  .card-body {
    gap: 10px;
    max-width: 200px;
    min-width: 200px;
  }
  
  .tag-container {
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .tag-container {
    gap: 0px;
  }

  #aside-movie {
    width: 100vw;
  }
  
  .aside-info {
    width: 100vw;
  }
  
  .aside-info .card-body {
    width: 100vw;
  }
  
  .aside-info img {
    width: 100vw;
  }

  .aside-info .card-title {
    width: 90vw;
  }
  
  .aside-info .movie-info {
    width: 90vw;
  }
  
  .aside-info .sub-info {
    width: 90vw;
  }
  
  .aside-info .card-body p {
    width: 90vw;
  }
  #aside-movie .btn-group {
    width: 100vw;
  }
}

@media screen and (max-height: 700px) {
  #aside-movie .btn-group button {
    height: 50px;
  }

  .card-body {
    margin: 0;
  }

  .aside-info .card-body p {
    font-size: 0.8rem;
  }

  .aside-info .card-body .overview {
    overflow: hidden;
    padding: 0px 0px 30px 0px;
  }

  .aside-info .card-body #movie-info p {
    min-height: 20px;
    margin-top: 20px;
    position: relative;
  }
  
  .card-body .card-title  {
    min-height: 35px;
   
  }
  
  .card-body .card-title h4 {
    font-size: 1.2rem;
  }
 
  .card-body h6 {
    font-size: 0.8rem;
  }

  .aside-info .card-body {
    height: 80vh;
  }
}